################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/beebtrk backup1.6502
/beebtrk backup2.6502
